/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; 
}
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  margin-left: 3em;
}

ul.posts span {
  font:14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 90%;
}

#home {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#year {
  font:20px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#month {
  font:15px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 1em;
}
#catalogo {
    width: 16px;
    height: 16px;
}

#blogtitle {
  margin:0px; 
  padding:0px;
  color:#6B6854;
  font:40px/50px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#motofooter {
   	text-align: right;
      	background-color:#005b7f;
        padding:0;
	font-family:arial, sans-serif;
	font-size:15px;
        margin:0px auto auto auto;
        color:#888;
}
#motocata {
	float:right;
}
#catalog {
    background: #e1e5e8;
    font-family: "Georgia", Tahoma, Sans-Serif;
    font-size: 20px;
    line-height: 20px;
    color: #888;
}
#rsspic {
    width: 20px;
    height: 20px;
}

#motohead {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    color: #6f6f6f;
    background: #2ac5c0 repeat-x;
    text-align: right;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 3em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
  margin-right: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: auto;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


#post {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}
