<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

	<!-- feeds -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="http://feed.feedsky.com/zhgeaits">
    </head>
    <body>

        <div class="container">
          <div class="site">
			<p id="motohead">Work Better Than Yesterday!</p>
            <div class="header">
				<h1 class="title" ><a id="blogtitle" href="/">{{ site.name }}</a></h1>
		<br/>
	      <p id="catalog">
	      <!-- <img  src="/image/next.png" id="catalogo"> -->
	      <a class="extra" href="/">Home</a>|
	      <a class="extra" href="/types/life.html">Life</a>|
	      <a class="extra" href="/types/java.html">Java</a>|
	      <a class="extra" href="/types/javaweb.html">JavaWeb</a>|
	      <a class="extra" href="/types/android.html">Android</a>|
	      <a class="extra" href="/types/technology.html">Other</a>|
	      <!-- <a class="extra" href="/types/aboutme.html">关于我</a>| -->
	       <span id="motocata">Concentrate On One Thing.</span>
	      </p>
            </div>
	    
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Follow Me at Github<br />
                  Follow Me at Weibo
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://github.com/zhgeaits/" target="_Blank">github.com/zhgeaits</a><br />
                  <a href="http://weibo.com/u/2531921880" target="_Blank">weibo.com/ZgGeGe</a>
                </p>
              </div>
	      <div class="contact">
		<p>
		  Find Me at studio<br />
		  Support Me at Wiki
		</p>
	      </div>
	      <div class="contact">
		<p>
                  <a href="http://www.xhomestudio.org" target="_Blank">xhomestudio.org</a><br />
		  <a href="http://www.xhomestudio.org/wiki" target="_Blank">xhomestudio.org/wiki</a>
		</p>
	      </div>
	      <div class="contact">
		  <p>
		  	Send Me Emails<br/>
			Add Me at QQ
		  </p>
	      </div>
	      <div class="contact">
		  <p>
			zhgeaits@gmail.com<br/>
			330810851
		  </p>
	      </div>
            </div>
	      <p id = "motofooter">Sunday don't come easily! 
	   	   <a id="subscribe" href="http://feed.feedsky.com/zhgeaits"><img src="/image/rss.png" alt="Subscribe to RSS Feed" id="rsspic"/></a>
		   <script src="http://s4.cnzz.com/stat.php?id=5420382&web_id=5420382&show=pic1" language="JavaScript"></script>
	      </p>
          </div>
        </div> <!-- /container -->

    </body>
</html>
